<div class="fluid-container">
    <div class="row bg-dark text-light mg-top">
        <div class="col-xs-3 col-sm-3 col-md-3">

            <ul>
                <h3>Opening Hours</h3>
                <li>Monday : 9:30 - 6:30</li>
                <li>Tuesday: 9:30 - 6:30</li>
                <li>Wednesday : 9:30 - 6:30</li>
                <li>Thursday: 9:30 - 6:30</li>
                <li>Friday : 9:30 - 6:30</li>
                <li>Saturday: 9:30 - 6:30</li>
            </ul>
        </div>
        <div class=" col-xs-3 col-sm-3 col-md-3">

            <ul>
                <h3>Find Us Here</h3>
                <li>Edu-Tech Solutions</li>
                <li>Opp,Axis Bank</li>
                <li>Vadakara,Kozhikode</li>
                <li>Pin:673105</li>
            </ul>
        </div>
        <div class=" col-xs-3 col-sm-3 col-md-3">

            <ul>
                <h3>Menu</h3>
                <li><a href="#"><i class="fa fa-chevron-right arrow" aria-hidden="true"> </i>Home</a></li>
                <li><a href="#"><i class="fa fa-chevron-right arrow" aria-hidden="true"> </i>Product</a></li>
                <li><a href="#"><i class="fa fa-chevron-right arrow" aria-hidden="true"> </i>Service</a></li>
                <li><a href="#"><i class="fa fa-chevron-right arrow" aria-hidden="true"> </i>Checkout</a></li>
                <li><a href="#"><i class="fa fa-chevron-right arrow" aria-hidden="true"> </i>Support</a></li>
            </ul>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">

            <ul>
                <h3>Contact</h3>
                <li>Phone : 8156903134</li>
                <li>E-Mail : adithgs111@gmail.com</li>
            </ul>
            <ul>
                <h3>Social</h3>
                <li class="social"><i class="fa fa-twitter fa-2x" aria-hidden="true"> </i></li>
                <li class="social"><i class="fa fa-instagram fa-2x" aria-hidden="true"> </i></li>
                <li class="social"><i class="fa fa-facebook fa-2x" aria-hidden="true"> </i></li>
                <li class="social"><i class="fa fa-google fa-2x" aria-hidden="true"> </i></li>
            </ul>
        </div>
    </div>
    <div class="row bg-dark text-center ">
        <div class="col-xs-12 col-md-12">
            <hr style="color: white;height: 2px;">
            <h5 style="color: white;"><i class="fa fa-copyright fa-.5x" aria-hidden="true"></i>Copyright Reserved By
                edutechsolutions@gmail.com</h5>
        </div>
    </div>
</div>