<div class="container">
    <h1 class="text-center m-4"> Meet The Team</h1>
    <div class="row m-5">
        <div class="col-md-4 ">
            <div class="card min-height border-success" style="width: 18rem;">
                <img src="/assets/team/tchr2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="text-center text-dark">Sandhya </h3>
                    <h5 class="text-center text-secondary">Lead Developer</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card min-height border-success" style="width: 18rem;">
                <img src="/assets/team/tchr1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="text-center text-dark">Ram Mohan</h3>
                    <h5 class="text-center text-secondary">Project Manager</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card min-height border-success" style="width: 18rem;">
                <img src="/assets/team/tchr3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="text-center text-dark">Irin Joseph</h3>
                    <h5 class="text-center text-secondary">Senior Developer</h5>
                </div>
            </div>
        </div>

    </div>
    <div class="row m-5">
        <div class="col-md-4 ">
            <div class="card min-height border-success" style="width: 18rem;">
                <img src="/assets/team/tchr4.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="text-center text-dark">Nivetha </h3>
                    <h5 class="text-center text-secondary">Jr.Software Developer</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card min-height border-success" style="width: 18rem;">
                <img src="/assets/team/tchr5.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="text-center text-dark">Anirudh Basu</h3>
                    <h5 class="text-center text-secondary">Trainee Head</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card min-height border-success" style="width: 18rem;">
                <img src="/assets/team/tchr6.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="text-center text-dark">Yamini</h3>
                    <h5 class="text-center text-secondary">Developer</h5>
                </div>
            </div>
        </div>

    </div>

</div>