
<div class="container pb-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 pt-4 pb-4">
            <h2 class="text-center  underline">What We Offer</h2>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body border border-success">
              <h5 class="card-title text-center c-color">Full Stack Development</h5>
              <!-- <div class="text-center">
                <img src="assets/team/tchr1.png" style="width:75%;">
              </div> -->
              <p class="card-text c-height text-dark">Full stack development:It refers to the development of both front end(client side) and back end(server side) portions of web application. ... They work on the frontend, backend, database and debugging of web application or websites</p>
              <a href="#" class="btn btn btn-outline-secondary">Know More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body border border-success">
              <h5 class="card-title c-color text-center">DevOps</h5>
              <p class="card-text c-height text-dark">DevOps is a set of practices that combines software development and IT operations. It aims to shorten the systems development life cycle and provide continuous delivery with high software quality. DevOps is complementary with Agile software development; several DevOps aspects came from the Agile methodology</p>
              <a href="#" class="btn btn btn-outline-secondary">Know More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body border border-success">
              <h5 class="card-title text-center c-color">Application Development</h5>
              <p class="card-text c-height text-dark">Flutter is an open-source UI software development kit created by Google. It is used to develop cross platform applications for Android, iOS, Linux, Mac, Windows, Google Fuchsia, and the web from a single codebase. First described in 2015, Flutter was released in May 2017.</p>
              <a href="#" class="btn btn btn-outline-secondary">Know More</a>
            </div>
          </div>
        </div>
      </div>
    <div class="row mt-4">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body border border-success">
              <h5 class="card-title c-color text-center ">Data Science</h5>
              <p class="card-text c-height text-dark">Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from noisy, structured and unstructured data, and apply knowledge and actionable insights from data across a broad range of application domains.</p>
              <a href="#" class="btn btn btn-outline-secondary">Know More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body border border-success">
              <h5 class="card-title c-color text-center">BlockChain</h5>
              <p class="card-text c-height text-dark">Blockchain.com is a cryptocurrency financial services company. The company began as the first Bitcoin blockchain explorer in 2011 and later created a cryptocurrency wallet that accounted for 28% of bitcoin transactions between 2012 and 2020.</p>
              <a href="#" class="btn btn btn-outline-secondary">Know More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body border border-success">
              <h5 class="card-title text-center c-color">Cyber Security</h5>
              <p class="card-text c-height text-dark">Computer security, cybersecurity, or information technology security is the protection of computer systems and networks from information disclosure, theft of or damage to their hardware, software, or electronic data, as well as from the disruption or misdirection of the services they provide.</p>
              <a href="#" class="btn btn btn-outline-secondary">Know More</a>
            </div>
          </div>
        </div>
      </div>
</div>
