
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3 class="text-center p-4 " ><span>Find Us Here</span> </h3>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul>
                <h3><span>Address Book</span></h3>
                <li><i class="fa fa-chevron-right arrow" aria-hidden="true"></i>Edu-Tech Institute</li>
                <li><i class="fa fa-chevron-right arrow" aria-hidden="true"></i>Opp, Axis Bank</li>
                <li><i class="fa fa-chevron-right arrow" aria-hidden="true"></i>Vadakara,Kozhikode</li>
                <li><i class="fa fa-chevron-right arrow" aria-hidden="true"></i>Pin:673105</li>
                <li><br></li>
                <li><i class="fa fa-chevron-right arrow" aria-hidden="true"></i>Mob:8156903134</li>
                <li><i class="fa fa-chevron-right arrow" aria-hidden="true"></i>Email:edutech@gmail.com</li>
            </ul>
            <ul>
                <h3 class="soc-pos" ><span>Social</span></h3>
                <li class="social"><i class="fa fa-twitter fa-2x" aria-hidden="true"> </i></li>
                <li class="social"><i class="fa fa-instagram fa-2x" aria-hidden="true"> </i></li>
                <li class="social"><i class="fa fa-facebook fa-2x" aria-hidden="true"> </i></li>
                <li class="social"><i class="fa fa-google fa-2x" aria-hidden="true"> </i></li>
            </ul>
        </div>
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3908.010412158051!2d75.57874176475678!3d11.62260799175072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba683849045fe05%3A0xb63a7b6141f7d165!2sVaikilessery%2C%20Vadakara%20Kozhikode%2C%20Vatakara%2C%20Kerala%20673104!5e0!3m2!1sen!2sin!4v1637681296490!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>
