
<div class="row bg mt-4">
    <div class="col-md-8">
        <img src="assets/landingpage/6461.jpg" alt="">
    </div>
    <div class="col-md-4 mt-5">
        <div class="container ">
            <form>
                <div>
                    <h2 style="text-align: center;"><span>Sign Up !</span></h2>
                </div>
                <div class="form-group pt-3">
                  <label for="exampleInputEmail1" class="frm-txt">Email : </label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted ">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group pt-3">
                  <label for="exampleInputPassword1" class="frm-txt">Password : </label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group form-check pt-3">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto pt-4">
                    <button class="btn btn-light btn-outline btn-outline-dark" (click)="signUp()" type="submit">Sign In</button>
                    
                  </div>
              </form>
        </div>
    </div>
</div>